@import "reset.scss";
$yellow:#FFB800;
$title: 40px;
@mixin header {
                color: $yellow;
                font-weight: 400;
                letter-spacing: 9.7px;
}
@mixin placeholder {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 19px;
                    letter-spacing: 0.07em;
                    color: white;
}
.header{
width: 100%;
height: 1014px;
color: white;
background-image: url(/Users/user/Desktop/come-back-group-test/img/builder.png) no-repeat;
background-size: cover;
background-color: linear-gradient(180deg, rgba(0, 0, 0, 0.66) 0%, rgba(0, 0, 0, 0) 100%);
&__contact{
    width: 100%;
    height: 54px;
    align-items: center;
    align-content: center;
    background: rgba(0, 0, 0, 0.31);
    .header__wrapper-contact{
        width: 90%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        .header__phone-number{
            align-items: center;
            width: 30%;
            display: flex;
            justify-content: space-around;
            a{
                text-decoration: none;
                color: white;
            }
        }
        .header__social-networks{
            align-content: center;
            align-items: center;
            text-align: center;
            width: 9%;
            display: flex;
            justify-content: space-between;
        }
    }
}
&__navigation{

    width: 90%;
    margin: auto;
    height: 70px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    align-content: center;
    margin-bottom: 136px;
    h4{
        color: $yellow;
        font-weight: bold;
    }
    nav{
        width: 60%;
        .header__menu{
            display: flex;
            justify-content: space-around;
         a{
            position: relative;
            color: white;
            cursor: pointer;
            line-height: 1;
            text-decoration: none;
            font-size: 18px;
            &:hover{
                color: $yellow;
                transition: .3s;
            }
            &:after{
                display: block;
	            position: absolute;
	            left: 0; 
	            width: 0;
	            height: 2px; 
	            background-color: $yellow; 
	            content: "";
	            transition: width 0.3s ease-out;
            }
            &:hover:after,
            &:focus:after{
                width: 100%;
            }
         }     
            }
    }


button{
    background: none;
    color: $yellow;
    border: 2px solid $yellow;
    height: 37px;
    cursor: pointer;
    &:hover{
        transform: scale(1.1);
        transition: .3s;
    }
}
}
&__text{
    width: 60%;
    height: 300px;
    margin: auto;
    h1{
        font-size: $title;
        margin-bottom: 29px;
    }
    p{
        font-size: 18px;
        margin-bottom: 71px;
    }
    button{
        color: white;
        background-color: $yellow;
        border: none;
        height: 37px;
        cursor: pointer;
        &:hover{
            -webkit-box-shadow: 0px 0px 20px 0px $yellow; 
            box-shadow: 0px 0px 20px 0px $yellow;
            transition: .3s;
        }
    }
}
&__footer{
    height: 169px;
    width: 100%;
    margin-top: 285px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(26px);
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    text-align: center;
    .header__footer-element{
        width: 16%;
        height: 80%;
        display: flex;
        align-items: center;
        align-content: center;
        text-align: center;
        align-self: center;
        font-size: 20px;
    }
}
}



.about{
    width: 100%;
    height: 800px;
    display: flex;
    color: white;
    background-color: #E5E5E5;
    &__photo{
        width: 40%;
        background-image: url(/Users/user/Desktop/come-back-group-test/img/about.png) no-repeat;
        background-size: cover;
        .about__exp{
            position: relative;
            width: 238px;
            height: 220px;
            right: -58.6%;
            bottom: -580px;
            mix-blend-mode: normal;
            background-color: $yellow;
            text-align: center;
        
            h1{
                font-size: 70px;
                font-weight: 400;
            }
            p{
                font-size: 30px;
                font-weight: 400;
            }
        }
        
        
    }
    &__text{
        width: 60%;
        height: 100%;
        .about__wrapper-text{
            margin: auto;
            display: flex;
            flex-direction: column;
            width: 60%;
            height: 100%;
            h3{
                color: $yellow;
                margin-top: 150px;
                font-weight: 400;
                letter-spacing: 9.7px;
            }
            h1{
                color: black;
                font-size: $title;
            }
            span{
                font-weight: 400;
                color: #7C7C7C;
            }
        }
    }
}



.stages{
    width: 100%;
    height: 531px;
    background-color: black;
    &__wrapper{
        width: 60%;
         margin: auto;
        display: flex;
        justify-content: space-between;
        flex-direction: flex-start;
        flex-wrap: wrap;
        color: white;
        
        h3{
            margin-top: 65px;
            width: 100%;
            @include header();
        }
        h1{
            width: 100%;
            font-size: $title;
            margin-bottom: 100px;
        }
        .stages{
            &__img{
                width: 100%;
                margin: auto;
                img{
                    margin: auto;
                }
            }
            
        &__1{width: 15%;} 
        &__2{width: 15%;} 
        &__3{width: 15%;} 
        &__4{width: 15%;} 
        &__5{width: 15%;} 
        &__6{width: 15%;} 
        }
    }
    
}


.portfolio{
    
        h3{
            display: inline-block;
            width: 13%;
            margin: 100px auto auto 43.5%;
            @include header(); 
        
    }
    h1{
        width: 16%;
        margin: auto;
        font-size: $title;
    }

    &__wrapper{
        height: 100%;
        width: 100%;
        display: flex;
        .portfolio{
            &__text{
                margin-left: 170px;
                margin-right: 120px;
            width: 55%;
            height: 100vh;
            
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-content: center;
            h4{
                
                font-weight: 600;
                font-size: 24px;
                line-height: 139.4%;
                
            }
            span{
                font-size: 18px;
                font-weight: 400;
            }
            
            }
            &__photos{
                width: 45%;
                display: flex;
                .portfolio__mini-photos{
                    img{
                        margin-bottom: 5px;
                        margin-right: 5px;
                    }
                }
                .portfolio__photo-slider{
                    width: 541px;
                    .portfolio__slider{

                            width: 100%;
                            height: 12.4%;
                            background-color: $yellow;
                            display: flex;
                            .portfolio__radio{
                                margin-left: 100px ;
                                margin-top: 40px;
                                input{
                                    width: 9px;
                                    height: 9px;
                                }
                    
                            }
                            .portfolio__arrows{
                                margin-left: 170px;
                                margin-top: 35px;
                                button{
                                    background-color: transparent;
                                    border: none;
                                    
                                }
                            }
                            
                    }
                }
            }
        }
        
    }
}

.reviews{
    width: 100%;
    height: 671px;
    background-color: linear-gradient(180deg, rgba(0, 0, 0, 0.68) 0%, rgba(0, 0, 0, 0.48) 100%);
    background-image: url(/Users/user/Desktop/come-back-group-test/img/reviews.png) no-repeat;
    background-size: cover;
    color: white;
    &__content{
        width: 60%;
        height: 100%;
        margin: auto;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(26px);
        text-align: center;
        h3{
            display: inline-block;
            width: 13%;
            margin: 100px auto auto auto;
            @include header(); 
        
    }
    h1{
        width: 65%;
        margin-left: 20%;
        margin-bottom: 70px;
        font-size: $title;
        font-weight: 400;
    }
    .reviews__text{
        width: 70%;
        margin: auto;
    }
    p{
        margin-top: 2em;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
    }
    }
}



.form{
    width: 100%;
    height: 400px;
    background-color: $yellow;
    color: white;
    &__wrapper{
        width: 60%;
        margin: auto;
        h1{
            font-size: 30px;
            font-weight: bold;
            
        }
        p{
            font-size: 18px;
        }
        form{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-top: 65px;
            .form__name{
                background-color: transparent;
                border: 0;
                color: white;
                border-bottom: .5px solid white;
                width: 40%;
                &::placeholder{
                    @include placeholder();
                }
            }
            .form__email{
                background-color: transparent;
                border: 0;
                border-bottom: .5px solid white;
                width: 40%;
                color: white;
                &::placeholder{
                    @include placeholder();
                }
            }
            .form__text{
                background-color: transparent;
                border: 0;
                color: white;
                border-bottom: .5px solid white;
                width: 100%;
                margin-top: 65px;
                &::placeholder{
                    @include placeholder();
                }
            }
            .form__button{
                margin-top: 52px;
                width: 128px;
                height: 42px;
                color: $yellow;
                background: white;
                border: 0;
                cursor: pointer;
            }
        }
    }
}



.footer{
    width: 100%;
    height: 400px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    hr{
        margin-top: 7%;
        width: 100%;
        
        border: 0.5px solid rgba(255, 255, 255, 0.29);
    }
    &__wrapper{
        color: white;
        width: 90%;
        height: 35%;
        display: flex;
        justify-content: space-between;
        .footer__logo-block{
            display: flex;
            flex-direction: column;
            width: 308px;
            h4{
                color: $yellow;
                font-weight: 900;
                font-size: 24px;
            }
            span{
                font-weight: 300;
                
                
            }
        }
        .footer__navigation{
            nav{
                
                .footer__menu{
                    display: flex;
                    flex-direction: column;
                    li{
                        margin-bottom: 23px;
                    }
                 a{
                    position: relative;
                    color: white;
                    cursor: pointer;
                    line-height: 1;
                    text-decoration: none;
                    &:hover{
                        color: $yellow;
                        transition: .3s;
                    }
                    &:after{
                        display: block;
                        position: absolute;
                        left: 0; 
                        width: 0;
                        height: 2px; 
                        background-color: $yellow; 
                        content: "";
                        transition: width 0.3s ease-out;
                    }
                    &:hover:after,
                    &:focus:after{
                        width: 100%;
                    }
                 }     
                    }
            }
        }
        .footer__contact{

            width: 259px;
            a{
                text-decoration: none;
                color: white;
                margin-top: 82px;
            }
        }
        .footer__icons{
            width: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
    }
    p{
        color: rgba(255, 255, 255, 0.29);
        margin-right: 70%;
    }
}